.card {
    display: grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
    margin: 30px;
    border-radius: 8px;
    background-color: azure;
    box-shadow: 10px -4px 10px rgb(112, 126, 128);
}

.weather-top{
    columns: 2 auto;
    justify-content:space-between;
}

.weather-top-left{
    text-align: center;
    font-weight: bold;
    text-shadow: 4 -4px 4px rgb(112, 126, 128) ;
    color:black;
    
    justify-content: center;
    font-size: 40px;
}

.weather-top-right{
    text-align: center;
}

img{
   width: 180px;
   height: 180px;
}